extends ./page_templates/header_footer.pug

block extra_style
    link(
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" 
        rel="stylesheet"
    )
    style
        include ../public/css/book_store.css

block extra_script

    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js")
    script
        include ../public/script/book_form.js
block body_content
    div
        a(href="/book_store" class="btn btn-info" role="btn") Show Books

    hr
    div
        form(class="form-horizontal" id="bookInfo" name="bookForm" action="/book_form" method="post" enctype="multipart/form-data" )
            div(class="form-group  form-group-sm")
                label(class="col-sm-2" for="bookTitle") Book Title
                div(class="col-sm-4")
                    input(type="text" class="form-control" name="bookTitle" id="bookTitle" placeholder="Title" )
            div(class="form-group form-group-sm")
                label(class="col-sm-2" for='publisher') Publisher
                div(class="col-sm-3")
                    input(type="text" class="form-control" name="publisher" id="publisher" placeholder="Publisher" )
            hr
            div(class="form-group form-group-sm")
                label(class="col-sm-2") Author:
            div(class="form-group form-group-sm" id="author")
                label(class="col-sm-2" for='firstName') First name:
                div(class="col-sm-3")
                    input(type="text" class="form-control col-xs-3" name="authorFirstName" id="firstName" placeholder="First Name") 
                label(class="col-sm-2" for='Last') Last name:
                div(class="col-sm-3")
                    input(type="text" class="form-control col-xs-3" name="authorLastName" id="lastName" placeholder="Last Name")  
            div(class="form-group form-group-sm")
                label(class="col-sm-2" for='datePicker') Publish Date
                div(class="col-sm-3")
                    input(class="form-control datePicker" name="publishData" placeholder="MM/DD/YYYY")
            div(class="form-group form-group-sm")
                label(class="col-sm-2" for='isbn') ISBN:
                div(class="col-sm-3")
                    input(type="text" class="form-control" name="isbn" id="isbn" placeholder="ISBN")
            hr
            div(class="form-group form-group-sm")
                label(class="col-sm-2") Book Cover: 
            div(class="form-group form-group-sm")
                //- label(class="col-sm-2 btn btn-default" for='cameraInput') Select Image
                img(src="" height=200 alt="image preview" id="img_preview")
                input( type="file" accept="image/*" id="img-input" name="photo" onchange="previewImg()") 
            div(class="alert alert-danger fade out" id="img-alert" role="alert")
                button(type="button" class="close" data-dismiss="alert" aria-label="close" id="bsalert")
                    span(aria-hidden="true") &times;
                strong Please! wait until image has uploaded      
            hr      
            button(class="btn btn-default" id="submitButton" onclick="formHandler()") Submit
