extends ./page_templates/header_footer.pug

block extra_style
    style
        include ../public/css/book_store.css

block extra_script
    script
        include ../public/script/exif.js
        include ../public/script/book_store.js
block body_content
    div
        a(href="/book_form" class="btn btn-info" role="btn") New Book
    
    hr
    div
        if noBook
            h1 No Book available at this moment~
        else
            div(class="row")
                ul
                for book in books
                    div(class="col-xs-12 col-md-4 col-lg-3")
                        div(class="thumbnail")
                            img(src = `data:image/jpeg;base64, ${book.image}` id="book-img" class="img-thumbnail")
                            div(class="caption")
                                h3 #{book.info.bookTitle}
                                h3(id="img-info") 


