extends ./page_templates/header_footer.pug

block extra_style
    style
        include ../public/css/home.css

block extra_script
    script
        include ../public/script/home.js

block body_content
    div(class="home_content")
        div(class="row")
            div(class="col-lg-4")
                div(class="thumbnail")
                    img(src="images/bookStore.png")
                    div(class="caption")
                        h3 Book Store
                        p Nearly 100 books related to computer science and economy. Take what you want for free!
                        p 
                            a(href="/book_store" class="btn btn-default" role="button") View Details>> 
            div(class="col-lg-4")
                div(class="thumbnail")
                    img(src="images/schedule.png")
                    div(class="caption")
                        h3 House Scheduling
                        p Living with others? Bill recording, home activities scheduling. A better experience for sharing!
                        p 
                            a(href="/house_scheduling" class="btn btn-default" role="button") View Details>> 
            div(class="col-lg-4")
                div(class="thumbnail")
                    img(src="images/Blog.png")
                    div(class="caption")
                        h3 Blog Zone
                        p Tech news, daily study record, game review and traveling dairy. All Daniel's high taste interests!
                        p 
                            a(href="/blog_zone" class="btn btn-default" role="button") View Details>>                 