html
    head
        meta(charset="utf-8")
        meta(http-quiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Daniel's Home
        style
            include ../../public/css/header_footer.css
        link(
            href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            rel="stylesheet"
        )
        block extra_style
    body(onload = "onLoad()")
        div(class="container")
            nav(class="navbar navbar-inverse")
                div(class="container-fluid") 
                    //- Brand and toggle get grouped for better mobile display
                    div(class="navbar-header") 
                        button(
                            type="button"
                            class="navbar-toggle collapsed" 
                            data-toggle="collapse" 
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false"
                        )
                            span(class="sr-only")
                                Toggle navigation
                            span(class="icon-bar")
                            span(class="icon-bar")
                            span(class="icon-bar")
                        a(class="navbar-brand" href="/") Daniel's
                    //- Collect the nav links, forms, and other content for toggling
                    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                        ul(class="nav navbar-nav")
                            li(class="home")
                                a(href="/") Home 
                                    //- span(class="sr-only") (current)
                            li(class="book_store")
                                a(href="/book_store") Book Store
                            li(class="house_scheduling")
                                a(href="/house_scheduling") House Schedule
                            li(class="blog_zone")
                                a(href="/blog_zone") Blog
                            li(class="about")
                                a(href="/about") About
                            //- li(role="separator" class="divider")
                            
                        ul(class="nav navbar-nav navbar-right")
                            li(class="dropdown")
                                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Gate
                                    span(class="caret")
                                ul(class="dropdown-menu")
                                    li
                                        a(href="#") Sign In
                                    li
                                        a(href="#") Sign Up
                                    li(role="separator" class="divider")
                                    li
                                        a(href="#") admin
                 
        div(class="container")
            block body_content
        
        //- script(src="http://code.jquery.com/jquery-latest.js")
        script(
			  src="http://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"
        )
        script(
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous"
        )
        script
            include ../../public/script/header_footer.js
        block extra_script