.InputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label.btn{
    margin-left: 15px
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.row{
    text-align: center
}
